<div id="body">

	<% include sidebar-menu %>

	<div id="content">
	  <% include header %>
	  
	  <!--BODY-->
		<div class="body">
			<div class="content">
				<h2>We want to hear from you</h2>
				<p>
					This website template has been designed by <a href="http://www.freewebsitetemplates.com/">freewebsitetemplates</a> for you, for free. You can replace all this text with your own text.
				</p>
				<form action="#">
					<label for="name"><span>Name</span>
						<input type="text" id="name">
					</label>
					<label for="email"><span>Email Add</span>
						<input type="text" id="email">
					</label>
					<label for="subject"><span>Subject</span>
						<input type="text" id="subject">
					</label>
					<label for="message">
						<textarea id="message"></textarea>
					</label>
					<input type="submit" value="">
				</form>
			</div>
		</div>

	</div>


	<% include featured %>



</div>