<div class="featured" ng-controller="featuresController as fctrl">
  <ul>
    <li ng-repeat="feature in fctrl.features">
      <h2> <a href="index.html">{{feature.name}}</a> </h2>
      <img ng-src="/images/{{feature.picture}}" width="280" height="140" alt="">
      <p>
        {{feature.description}}
      </p>
    </li>
  </ul>
</div>