<div id="footer">
	<div class="section">
		<h2>Tree Gallery }</h2>
		<ul>
			<li class="first">
				<a href="index.html"><img src="images/tree1.jpg" width="90" height="90" alt=""></a> 
				<a href="index.html"><img src="images/tree2.jpg" width="90" height="90" alt=""></a> 
				<a href="index.html"><img src="images/tree3.jpg" width="90" height="90" alt=""></a> 
				<a href="index.html"><img src="images/tree4.jpg" width="90" height="90" alt=""></a> 
				<a href="index.html"><img src="images/tree5.jpg" width="90" height="90" alt=""></a> 
				<a href="index.html"><img src="images/tree6.jpg" width="90" height="90" alt=""></a>
			</li>
			<li>
			<h1>Healing Trees</h1>
				<p>
				This website template has been designed by freewebsitetemplates for you, for free. You can replace all this text with your own text.
				</p>
			</li>
			<li>
				<h1>Preserve them</h1>
					<p>
					This website template has been designed by freewebsitetemplates for you, for free. You can replace all this text with your own text.
					</p>
			</li>
		</ul>
	</div>
	<div class="footnote"> <span>&copy; 2011 <a href="index.html">Magic Tree</a> . All rights Reserved.</span> </div>
</div>