<div id="header">
	<ul class="navigation">
 		<li class="first">
    		<a class="active" href="homepage">Home</a>
  		</li>
  		<li>
			<a href="aboutus">About us</a>
		</li>
		<li>
			<a href="library">Library</a>
		</li>
		<li>
			<a href="news">News</a>
		</li>
		<li>
			<a href="blog">Blog</a>
		</li>
		<li>
			<a href="contactus">Contact Us</a>
		</li>
	</ul>
</div>