<div id="body">

	<% include sidebar-menu %>

	<div id="content">
	  <% include header %>
	  
	  <!--BODY-->
	  	<div class="body"> <img src="images/seedling.jpg" width="631" height="307" alt="">
			<div class="content">
				<h2>Healing Trees</h2>
				<ul>
					<li>
						<p>
							This website template has been designed by <a href="http://www.freewebsitetemplates.com">freewebsitetemplates.com</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums">Forums.</a>
						</p>
					</li>
					<li>
						<p>
							This website template has been designed by <a href="http://www.freewebsitetemplates.com">freewebsitetemplates.com</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums">Forums.</a>
						</p>
					</li>
					<li>
						<p>
							This website template has been designed by <a href="http://www.freewebsitetemplates.com">freewebsitetemplates.com</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums">Forums.</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>


	<% include featured %>


</div>