<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'MagicTree App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/ie6.css">
    <link rel="stylesheet" href="/styles/ie7.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
  </head>

  <body>
    <div id="background">
    <div id="page">
      <div id="body">
        <div id="sidebar"> <a id="logo" href="index.html">&nbsp;</a>
          <ul>
            <li>
              <a href="medicinaltrees">Medicinal Trees</a>
            </li>
            <li>
              <a href="ornamentaltrees">Ornamental <span>Trees</span></a>
            </li>
            <li>
              <a href="fruitbearingtrees">Fruit Bearing <span>Trees</span></a>
            </li>
          </ul>
        </div>
        <div id="content">
          <div id="header">
            <ul class="navigation">
              <li class="first">
                <a class="active" href="homepage">Home</a>
              </li>
              <li>
                <a href="aboutus">About us</a>
              </li>
              <li>
                <a href="library">Library</a>
              </li>
              <li>
                <a href="news">News</a>
              </li>
              <li>
                <a href="blog">Blog</a>
              </li>
              <li>
                <a href="contactus">Contact Us</a>
              </li>
            </ul>
          </div>
          
          <%- body %>

        </div>
        <div class="featured">
          <ul>
            <li>
              <h2> <a href="index.html">Environmental Developers</a> </h2>
              <img src="images/developers.jpg" width="280" height="140" alt="">
              <p>
                This website template has been designed by freewebsitetemplates for you, for free. You can replace all this text with your own text.
              </p>
            </li>
            <li>
              <h2> <a href="index.html">Landscaping Areas</a> </h2>
              <img src="images/golf-court.jpg" width="280" height="140" alt="">
              <p>
                This website template has been designed by freewebsitetemplates for you, for free. You can replace all this text with your own text.
              </p>
            </li>
            <li>
              <h2> <a href="index.html">Tress that helps</a> </h2>
              <img src="images/trees.jpg" width="280" height="140" alt="">
              <p>
                This website template has been designed by freewebsitetemplates for you, for free. You can replace all this text with your own text.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div id="footer">
        <div class="section">
          <h2>Tree Gallery }</h2>
          <ul>
            <li class="first">
              <a href="index.html"><img src="images/tree1.jpg" width="90" height="90" alt=""></a> <a href="index.html"><img src="images/tree2.jpg" width="90" height="90" alt=""></a> <a href="index.html"><img src="images/tree3.jpg" width="90" height="90" alt=""></a> <a href="index.html"><img src="images/tree4.jpg" width="90" height="90" alt=""></a> <a href="index.html"><img src="images/tree5.jpg" width="90" height="90" alt=""></a> <a href="index.html"><img src="images/tree6.jpg" width="90" height="90" alt=""></a>
            </li>
            <li>
              <h1>Healing Trees</h1>
              <p>
                This website template has been designed by freewebsitetemplates for you, for free. You can replace all this text with your own text.
              </p>
            </li>
            <li>
              <h1>Preserve them</h1>
              <p>
                This website template has been designed by freewebsitetemplates for you, for free. You can replace all this text with your own text.
              </p>
            </li>
          </ul>
        </div>
        <div class="footnote"> <span>&copy; 2011 <a href="index.html">Magic Tree</a> . All rights Reserved.</span> </div>
      </div>
    </div>
  </div>




    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
