<div id="sidebar" ng-controller = "treeCategoriesController as tcctrl"> 
  <a id="logo" href="index.html">&nbsp;</a>
  <ul>
    <li ng-repeat="category in tcctrl.categories">
      <a ng-href="treeCategory?categoryId={{category.id}}">{{category.name}}</a>
    </li>
  </ul>
</div>