<div id="sidebar"> <a id="logo" href="index.html">&nbsp;</a>
  <ul>
    <li>
      <a href="medicinaltrees">Medicinal Trees</a>
    </li>
    <li>
      <a href="ornamentaltrees">Ornamental <span>Trees</span></a>
    </li>
    <li>
      <a href="fruitbearingtrees">Fruit Bearing <span>Trees</span></a>
    </li>
  </ul>
</div>