<div class="sidebar"> <a id="logo" href="homepage">&nbsp;</a>
	<div class="connect">
		<h2>Follow us</h2>
		<a href="http://www.freewebsitetemplates.com/go/facebook/" class="facebook">&nbsp;</a> 
		<a href="http://www.freewebsitetemplates.com/go/twitter/" class="twitter">&nbsp;</a> 
		<a href="http://www.freewebsitetemplates.com/go/flickr/" class="google">&nbsp;</a> </div>
	<div class="section">
		<h2>Archive</h2>
		<ul>
			<li>
				<a href="blog.html">2011 (60)</a>
				<ul>
					<li>
						<a href="blog.html">Decembaer<span> (1)</span></a>
					</li>
					<li>
						<a href="blog.html">November<span> (11)</span></a>
					</li>
					<li>
						<a href="blog.html">October<span> (3)</span></a>
					</li>
					<li>
						<a href="blog.html">September<span> (8)</span></a>
					</li>
					<li>
						<a href="blog.html">August<span> (3)</span></a>
					</li>
					<li>
						<a href="blog.html">July<span> (2)</span></a>
					</li>
					<li>
						<a href="blog.html">June</a>
					</li>
					<li>
						<a href="blog.html">May<span> (8)</span></a>
					</li>
					<li>
						<a href="blog.html">April<span> (7)</span></a>
					</li>
					<li>
						<a href="blog.html">March<span> (7)</span></a>
					</li>
					<li>
						<a href="blog.html">Febuary<span> (10)</span></a>
					</li>
					<li>
						<a href="blog.html">January<span> (1)</span></a>
					</li>
				</ul>
			</li>
			<li>
				<a href="blog.html">2010 (28)</a>
			</li>
			<li>
				<a href="blog.html">2009 (20)</a>
			</li>
		</ul>
	</div>
</div>