<div id="body">

	<% include sidebar-menu %>

	<div id="content">
	  <% include header %>
	  
	  <!--BODY-->
	  	<div class="body" ng-controller="treeCategoriesController as tcctrl" ng-init="tcctrl.getCategoryId()">
			<div class="content">
				<h2>Tree Library</h2>
				<ul>
					<li ng-repeat="category in tcctrl.categories | filter: {id: tcctrl.getCategoryId()}">
						<h4> <a href="#">{{category.name}}</a> </h4>
						<ul>
							<li ng-repeat="tree in category.trees">
								<a href="tree"><span>{{tree.name}}</span>{{tree.scientifictName}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

	</div>


	<% include featured %>


</div>